<ul class="note-list">
  {{#notes}}
    <li id="note-{{id}}">
      <h3><a href="/notes/{{id}}">{{title}}</a></h3>
    </li>
  {{/notes}}
</ul>
<div class="buttons">
  <a href="/notes/new">+</a>
</div>