<form action="{{action}}" method="{{method}}" class="note-form">
  <div class="fields">
    {{#note}}
      <input type="text" name="note[title]" value="{{title}}" placeholder="title">
      <textarea name="note[body]" placeholder="body">{{body}}</textarea>
    {{/note}}
  </div>
  <div class="buttons">
    <input type="submit" value="Save">
    <input type="submit" value="Delete" class="delete">
  </div>
</form>