<% content_for :head do %>
  <%= template_include_tag "note_list", "note_form" %>
<% end %>

<div id="note-list-container">
  <%= render :partial => "note_list" %>
</div>

<div id="note-form-container">
  <div id="logo">
    <%= image_tag "logo.png"  %>
  </div>
</div>
