<!DOCTYPE html>
<html>
<head>
  <title>NotepadRails</title>
  <%= stylesheet_link_tag :all %>

  <script src="/javascripts/lib/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/lib/davis-0.1.1.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/lib/js-model-0.9.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/lib/handlebars.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/lib/view.js" type="text/javascript" charset="utf-8"></script>

  <script src="/javascripts/models/note.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/views/note_form_view.js" type="text/javascript" charset="utf-8"></script>

  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
  <div id="header">
    <h1>Notepad</h1>
  </div>
  <%= yield %>
</div>

</body>
</html>
